@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.myPage_Page {
    position: absolute;
    top: 150px;
    left: 304px;
}

@media only screen and (max-width:768px) {
    .myPage_Page {
        position: absolute;
        top: 100px;
        left: 5vw;
    }
}
.Transfer_button{
    position: absolute;
    top: 190px;
    left:120px;
    width:140px;
    height:45px;
    background-color: #B27354;
    border-radius: 15px;
}
.MyAuction_button{
    position: absolute;
    top: 18px;
    left:120px;
    width:90px;
    height:45px;
    background-color: #B27354;
    border-radius: 15px;
}
.MyAuction_button p{
    color:#F9F9F9;
    font-size: 16px;
    margin-top:10px;
    font-family: Noto Sans KR;
}

.MyQuit_button{
    position: absolute;
    top: 18px;
    left:220px;
    width:100px;
    height:45px;
    background-color: #B27354;
    border-radius: 15px;
}
.MyQuit_button p{
    color:#F9F9F9;
    font-size: 16px;
    margin-top:10px;
    font-family: Noto Sans KR;
}

.reload_button {
    position: absolute;
    top: 190px;
    left:120px;
    width:90px;
    height:45px;
    background-color: #B27354;
    border-radius: 15px;
}

.reload_button p{
    color:#F9F9F9;
    font-size: 16px;
    margin-top:10px;
    font-family: Noto Sans KR;
}


.Transfer_button p{
    color:#F9F9F9;
    font-size: 16px;
    margin-top:10px;
    font-family: Noto Sans KR;
}
.name {
    position: relative;
    top: 10px;
    text-align: left;
    margin-left: 20px;
    width:100px;
    font-size: 20px;
    font-family: Noto Sans KR;
}

.personal_data_title {
    position: relative;
    width: 400px;
    text-align: left;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Noto Sans KR;
}

.personal_data_div {
    width: 400px;
    height: 100px;
    background: linear-gradient(to top, #F9F9F9 90%, #181818 10%);
    border-radius: 15px;
    text-align: left;
}

.personal_data_div p {
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 17px;
    font-family: Noto Sans KR;
    margin-bottom: 10px;
    margin-top: 5px;
}
@media screen and (max-width:768px) {
    .personal_data_title {
        position: relative;
        width: 90vw;
        text-align: left;
        margin-left: 0px;
        font-size: 24px;
        margin-bottom: 10px;
        font-family: Noto Sans KR;
    }
    
    .personal_data_div {
        width: 90vw;
        height: 100px;
        background: linear-gradient(to top, #F9F9F9 90%, #181818 10%);
        border-radius: 15px;
        text-align: left;
    }
    
    .personal_data_div p {
        position: relative;
        top: 20px;
        left: 30px;
        font-size: 17px;
        font-family: Noto Sans KR;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}


.collection {
    position: relative;
    top:10px;
    width: 1100px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
    font-size: 18px;
}
.collect_num{
    margin-right: 230px;
    font-family: Noto Sans KR;
}
.collect_art{
    margin-right: 315px;
    font-family: Noto Sans KR;
}
.collect_artist{
    margin-right:202px;
    font-family: Noto Sans KR;
}
.collection_header_flex {
    position: relative;
    width: 1000px;
    top: 0px;
    left: 50px;
    height: 40px;
    
    display: flex;
    text-align: center;
    color:#F9F9F9;
}

.collection_header_flex p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.collection_data_flex {
    position: relative;
    top: 20px;
    width: 1000px;
    left: 50px;
    height: 40px;
    
    display: flex;
    text-align: center;
    
    background-color: #F9F9F9;
    border-radius: 15px;
}

.data_num {
    margin-left: 17px;
    margin-right:93px;
}

.data_picture1{
    width:350px;
    margin-right:70px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.data_artist1{
    width:250px;
    margin-right: 105px;
}

@media only screen and (max-width:768px) {
    .collection {
        position: relative;
        top:10px;
        width: 90vw;
        height: 300px;
        border-radius: 15px;
        text-align: center;
        background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
        font-size: 14px;
    }
    .collect_num{
        width:10vw;
        margin-left: 0px;
        margin-right: 0px;
        font-family: Noto Sans KR;

    }
    .collect_art{
        width:40vw;
        margin-left: 0px;
        margin-right: 0px;

        font-family: Noto Sans KR;
    }
    .collect_artist{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
        font-family: Noto Sans KR;
    }
    .collect_day{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
        font-family: Noto Sans KR;
    }
    .collection_header_flex {
        position: relative;
        width: 90vw;
        top: 0px;
        left: 0px;
        height: 40px;
        display: flex;
        text-align: center;
        color:#F9F9F9;
    }
    
    .collection_header_flex p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 15px;
    }
    
    .collection_data_flex {
        position: relative;
        top: 20px;
        width: 90vw;
        left: 0;
        height: 40px;
        display: flex;
        text-align: center;
        background-color: #F9F9F9;
        border-radius: 15px;
    }
    
    .data_num {
        width:10vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .data_picture1{
        width:40vw;
        margin-left: 0px;
        margin-right: 0px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .data_artist1{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    .data_Link1{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }
}


.like_art {
    width: 1100px;
    text-align: left;
    position: relative;
    border-radius: 15px;
    top: 10px;
    height: 300px;
    background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
    font-size: 18px;
    margin-bottom: 300px;
}
.like_art_num{
    margin-right:225px
}
.like_art_art{
    margin-right: 315px;
    font-family: Noto Sans KR;
}
.like_art_artist{
    margin-right: 210px;
}


.data_picture2{
    width:350px;
    margin-right:70px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.data_artist2{
    width:250px;
    margin-right: 120px;
}

@media only screen and (max-width:768px) {
    .like_art {
        width: 90vw;
        text-align: left;
        position: relative;
        border-radius: 15px;
        top: 10px;
        height: 300px;
        background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
        font-size: 14px;
        margin-bottom: 300px;
    }
    .like_art_num{
        width:10vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    .like_art_art{
        width:40vw;
        margin-left: 0px;
        margin-right: 0px;
        font-family: Noto Sans KR;
    }
    .like_art_artist{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    .like_art_Charge2{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    
    .data_picture2{
        width:40vw;
        margin-left: 0px;
        margin-right: 0px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .data_artist2{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    .data_Charge2{
        width:20vw;
        margin-left: 0px;
        margin-right: 0px;
    }

}

/* 양도 페이지 css */
.Transfer_Page{
    position: absolute;
    top:150px;
    left:280px;
}
.Transfer_Page_Title{
    position: relative;
    top:0px;
    left:0px;
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-align: left;
}
.transfer_people_name{text-align: left;}
.transfer_people_name p{font-weight: 600;}
.phone{ border-radius: 50px; text-align: left; position: relative; top:40px; left:30px;width:150px; height:40px; background-color: #B27354;}
.phone p{
    position: relative;
    top:8px;
    left:33px;
    color:#F9F9F9
}
.transfer_people_title{
    font-size: 16px;
    position: relative;
    left:20px;
    margin-bottom: 0px;
}
.people_search_bar{
    display: flex;
    position: relative;
    top:10px;
    left:20px;
}
.people_search_bar input{
   position: relative;
   top:3px;
   width:300px;
   height:20px;
   margin-right: 10px;  
}
.people_search_bar img{
    width:30px;
}
.people_table{
    position: relative;
    top:20px;
    width:600px;
    height:150px;
    background: linear-gradient(to top, #F9F9F9 75%, #181818 25%);
    border-radius: 15px;
}

.people_table_header{
    display: flex;
}
.Owner_Item{
    position: relative;
    top:0px;
    left:0px;
    width:800px;
}
.Owner_Item_Title{
    position: relative;
    top:0px;
    left:20px;
    width:800px;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}
.Owner_table{
    background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
    border-radius: 15px;
    position: relative;
    top:0px;
    width: 800px;
    height: 200px;
}
.Owner_table_header{
    position: relative;
    top:0px;
    display: flex;
}
.Owner_table_header p{
    color:#F9F9F9;
    font-family: Noto Sans KR;
    font-size:16px;
    font-weight: 600;
}

.Owner_table_content_div{
    overflow-y: auto;
    height: 150px;
}


.Owner_table_contents{
    position: relative;
    top:0px;
    display: flex;
    
}
.Owner_table_contents p{
    font-size:14px;
    text-align: center;
}
.Owner_header_num{
    position: relative;
    left:20px;
    width:50px;
    text-align: left;
    margin-top:10px;
    margin-right:170px;
}
.Owner_header_artwork
{
    margin-top:10px;
    margin-right:250px;
}
.Owner_header_artist
{
    margin-top:10px;
    margin-right:170px;
}
.Owner_header_transfer
{
    margin-top:10px;
    margin-right:0px
}
.Owner_content_num
{
    position: relative;
    margin-top:10px;
    left:32px;
    margin-right:80px;
}
.Owner_content_artwork
{
    margin-top:10px;
    
    text-align: left;
    width:300px
}
.Owner_content_artist
{
    margin-top:10px;
    
    text-align: left;
    width:300px;
    margin-right: 46px;
}
.Owner_content_btn{
    position: relative;
    top:10px;
}


@media screen  and (max-width:768px){
    .Transfer_Page{
        position: absolute;
        top:100px;
        left:3vw;
    }
    .people_search_bar{
        display: flex;
        position: relative;
        top:10px;
        left:20px;
    }
    .people_search_bar input{
       position: relative;
       top:3px;
       width:250px;
       height:20px;
       margin-right: 10px;  
    }
    .people_search_bar img{
        width:30px;
    }
    .Owner_table{
        background: linear-gradient(to top, #F9F9F9 80%, #181818 20%);
        border-radius: 15px;
        position: relative;
        top:0px;
        width: 94vw;
        height: 200px;
    }
    .Owner_table_header{
        position: relative;
        top:0px;
        display: flex;
        justify-content: center;
        width:90vw;
    }
    .Owner_table_header p{
        color:#F9F9F9;
        font-family: Noto Sans KR;
        font-size:14px;
        font-weight: 600;
    }
    
    .Owner_table_content_div{
        overflow-y: auto;
        height: 150px;
    }
        
    .Owner_table_contents{
        position: relative;
        top:0px;
        display: flex;
        justify-content: center;
        width:90vw;
    }
    .Owner_table_contents p{
        font-size:12px;
    }
    .Owner_header_num{
        margin-left: 0px;
        margin-right: 0px;
        left:5px;
        width:8vw;
    }
    .Owner_header_artwork
    {
        margin-left: 0px;
        margin-right: 0px;
        width:42vw;
    }
    .Owner_header_artist
    {
        margin-left: 0px;
        margin-right: 0px;
        width:20vw;
    }
    .Owner_header_transfer
    {
        margin-top:10px;
        margin-left: 0px;
        margin-right: 0px;
        width:20vw;
    }
    .Owner_content_num
    {   
        margin-top:10px;
        margin-left: 0px;
        margin-right: 0px;
        width:8vw;
        left: 0px;
    }
    .Owner_content_artwork
    {
        margin-top:10px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        width:42vw;
    }
    .Owner_content_artist
    {
        margin-top:10px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        width:20vw;
    }
    .Owner_content_btn{
     
        top:10px;
        margin-left: 0px;
        margin-right: 0px;
        width:20vw;
    }
}

.people_header_name{
    position: relative;
    left:30px;
    margin-top: 10px;
    margin-right:140px;
    width:40px;
    color:#F9F9F9
}

.people_header_email{
    position: relative;
    margin-top: 10px;
    margin-right:140px;
    width:100px;
    color:#F9F9F9
}

.people_header_idCode{
    position: relative;
    margin-top: 10px;
    margin-right:100px;
    width:100px;
    color:#F9F9F9
}


.people_table_content{
    display: flex;
    width:600px;
    text-align: center;
}
.people_table_name{
    position: relative;
    left:2px;
    margin-top: 10px;
    margin-right:40px;
    width:88px;
    color:#181818;
}
.people_table_email{
    position: relative;
    margin-top: 10px;
    margin-right:80px;
    width:160px;
    color:#181818;
}
.people_table_idCode{
    position: relative;
    margin-top: 10px;
    margin-right:0px;
    width:162px;
    color:#181818;
}

@media screen and (max-width:768px) {
    .people_header_name{
        margin-left: 0px;
        margin-right: 0px;
        left:0px;
        width:20vw;
        color:#F9F9F9
    }
    .people_header_email{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width:40vw;
        color:#F9F9F9
    }
    .people_header_idCode{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width:30vw;
        color:#F9F9F9
    }
    .people_table_content{
        display: flex;
        width:90vw;
        text-align: center;
        justify-content: center;
    }
    .people_table_name{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width:20vw;
        color:#181818;
    }
    .people_table_email{
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width:40vw;
        color:#181818;
    }
    .people_table_idCode{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width:30vw;
        color:#181818;
    }

.people_table{
    position: relative;
    top:20px;
    left:2vw;
    width:90vw;
    height:170px;
    background: linear-gradient(to top, #F9F9F9 75%, #181818 25%);
    border-radius: 15px;
}

.people_table_header{
    display: flex;
    width: 90vw;
    text-align: center;
    justify-content: center;
}
}
.Notify_window{
    width:300px;
    height: 50px;
}
.Notify_window .Notify_Xbtn{
    width:35px;
    height: 35px;
    margin-top: 8px;
}
.Notify_Page{
    position: relative;
    width:301px;
    height: 403px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    background-color: #F9F9F9;
}
.Notify_Page::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.Notify_Header{
    position: relative;
    width: 283px;
    height: 40px;
    border: 1px solid #eaeaea;
    padding-left: 15px;
    margin: 0px;
}

.Notify_Title{
    position: absolute;
    line-height: 39px;
    margin: 0px;
}
.Notify_Title p{
    margin: 0px;
    font-weight: 700;
    color: #6b6d70;
}
.Notify_Header_right{
    position: absolute;
    top:4px;
    right:8px;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Notify_Header_btn{
    margin:0px;
    padding:6px 6px;
    border: 1px solid #eaeaea;
}
.Notify_Header_btn p{
    margin:0px;
    font-size: 12px;
}
.Notify_Body{
    width: 298px;
    max-height: 360px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}
.Notify_Body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.Notify_Data{
    padding-left: 15px;
    width: 283px;
    height: 70px;
    border: 1px solid #eaeaea;
}
.Notify_Data .data_textarea{
    width: 240px;
    height: 30px;
}
.Notify_Data .data_textarea p{
    font-size: 14px;
    white-space:wrap;
    margin: 0px;
    padding: 5px 0px;
    text-align: left;
    
}

.Notify_Data .data_from {
    width: 240px;
    height: 18px;
}

.Notify_Data  .data_from p{
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position: relative;
    top:0px;
    padding: 2px 0px;
    text-align: left;
}

.Notify_Data .on{
    color: #444444;
}

.Notify_Data .off{
    color: #ADADAD;
}

.Notify_Data .data_Xbtn{
    position: relative;
    left:250px;
    top:-35px;
    width:30px;
    line-height: 30px;
}

.Notify_Data .data_Xbtn p{
    margin: 0px;
}

