.common-table {
    border-radius: 15px;
    width: 1200px;
    margin: 30px auto;
    text-align: center;
    border-spacing: 0;
  }
   
  .common-table-header-column {
    background-color: #e7e7e7;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
  }
   
  .common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
   
  .common-table-column {
    padding: 10px 5px;
  }


  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }